# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environments
env/
venv/
ENV/
.venv/

# Flask
instance/
*.env

# VSCode / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db